# Пример настроек для production
NODE_ENV=production
PORT=4000
NO_NODE_WS=1
DATABASE_URL=postgresql://cc_user:123@localhost:5432/cc_db
VITE_API_URL=http://91.197.96.9:4000
VITE_WS_URL=ws://91.197.96.9:8001/ws
