DATABASE_URL=""
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="no-reply@example.com"

# Firebase Cloud Messaging server key
FCM_SERVER_KEY=""

STUN_SERVER=stun:stun.l.google.com:19302
VITE_STUN_SERVER=stun:stun.l.google.com:19302
VITE_TURN_URL=
VITE_TURN_USER=
VITE_TURN_PASS=
COOKIE_DOMAIN=localhost
