/dist
/out
*.log
.vite
.ignored
node_modules
server/**/*.js
*.ignored_node_modules

# Generated JS files in shared folders
shared/**/*.js
shared/electron-shared/**/*.js

shared/**/*.js
dist-electron/**/*.js
